
.destination__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.destination__card__info{
    padding-block: 5rem;
}

.destination__card__info>*{
    margin-bottom: 3rem;
    padding-inline: 2.5rem;
}

.destination__card__info h3.destination__name,
.destination__card__info h2,
.destination__card__info span
{
    text-align: center;
}

.destination__card__info p{
    line-height: 1.5rem;
}

.destination__card__img__container img{
    position: relative;
}


.destination__card__favorite{
    position: absolute;
    font-size: 1.5rem;
    color: beige;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    right: 52%;
}