.apartaments h1{
padding: 2rem 1rem;
font-size: 3rem;
}

.apartament{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}


.apartament__card__text{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color:#CEF9FF ;
}

.apartament__card__img__container{
    height:20rem ;
}

.favorite-added{
    color: red;
}